.fit-content {
    height: fit-content;
}

.font {

    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


.font_Weight {
    font-weight: bolder;
}

.center {
    align-items: center;
    justify-content: center;
}
.f-size{
    font-size: 80px;
}

.size {
    font-size: 20px;
    color: rgb(2, 2, 2);
    text-decoration: none;
}
.line-h{
    line-height: 32px;
}


.searchwidth {
    width: 100%;
}

.searchBox {
    border: 2px solid black;
    width: 20%;
    height: 3rem;
}

.searchForm {
    width: 100%;
    height: fit-content;
}

.btnLayout {
    border-radius: 15px;
    width: 50px;
    height: 3rem;
}


.headerBox {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    height: 8rem;
    width: 100vw;
}

input {
    height: 2.5rem;
}





/* body section */

section {
    border: 2px solid black;
    height: 80vh;
}

.box {
    border: 2px red solid;
    width: 100%;
    height: 40rem;
    margin-top: 20px;
}

.info {
    
    width: 40%;
    height: 20rem;
    text-align: justify;
    line-height: 8px;
    padding: 40px;
}
span{
    font-size: 32px;
    color: #229799;
}

.image {
       width: 40%;
    height: 20rem;
}

.cards {
    border: 2px black solid;
    width: 80%;
    height: 20rem;
}

.card {
    width: 28%;
    height: 340px;
    border: 2px solid;
}

.card>img {
    width: 64px;
    height: 64px;

}

.con {
    display: flex;
    flex-direction: column;
    align-items: center;


}

.link1 {
  
    width: 80%;
    height: 8rem;
}

.link1>ul {
    list-style: none;
    width: 100%;
    height: 7.5rem;
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
}

.link1>ul>li {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    height: 4rem;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link1>ul>li>a {
    text-decoration: none;
    color: black;
    transition: .5s;
}

.link1>ul>li>a:hover {
    text-decoration: underline;
    font-size: 24px;
    color: #229799;
}

.link2>ul {
    list-style: none;
    width: 100%;
    height: 7.5rem;
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
}

.link2 {
    
    width: 80%;
    height: 8rem;
}
.link2>ul {
    list-style: none;
    width: 100%;
    height: 7.5rem;
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.link2>ul>li {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    background: #229799;
    height: 80px;
    width: 80px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
